.main-header {
    background-image: url(../../../images/header.jpg);
    background-size: cover;
    text-align: center;
    padding: 8px;
}

.header-title {
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    font-size: 4.4rem;
    letter-spacing: 2px;
    line-height: 0;
}

@media screen and (min-width: 480px) {
    .header-title {
        letter-spacing: 3px;
        font-size: 4rem;
    }
}

@media screen and (min-width: 640px) {
    .header-title {
        letter-spacing: 4px;
    }
}