.products-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    border-radius: 12px;
    background-color: #fff;
}

.subcategory-label-medium {
    display: none;
}

@media screen and (min-width: 780px) {
    .products-sec {
        width: 100%;
        justify-content: start;
    }

    .subcategory-label-medium {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        margin-top: -0.2rem;
        margin-right: 1rem;
    }

    .byorder-div-medium {
        display: flex;
        width: 100%;
        margin-top: -1.6rem;
        margin-bottom: 1rem;
        margin-right: 1.4rem;
    }

    .byorder-list-medium {
        display: flex;
        padding: 0;
        align-items: center;
        margin-right: 1.6rem;
    }

    .byorder-li-medium {
        font-size: 1.2rem;
        margin-right: 0.2rem;
        color: var(--text-color);
        padding: 0.5rem 1.2rem;
        border-radius: 16px;
        cursor: pointer;
    }

    .byorder-li-medium.active {
        color: var(--link-color);
        background-color: rgba(0, 131, 192, 0.06);
        border: 1px solid var(--link-color);
    }
}