.main-category-container {
    margin: 60px 16px;
}

.subcategories-div {
    display: none;
}

.maincategory-filters {
    color: var(--header-color);
    border-radius: 18px;
    border: 1px solid rgb(209, 209, 209);
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
}

.painting-tools-subcategories {
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    font-size: 1.3rem;
}

.mc-checkbox-input {
    box-shadow: none;
    cursor: pointer;
}

.mc-checkbox-label {
    margin-right: 1rem;
    cursor: pointer;
}

.subcategory-label {
    width: 100%;
    margin-bottom: 2.4rem;
}

@media screen and (min-width: 780px) {
    .main-category-top-menu {
        display: none;
    }

    .products-and-subcategories {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .subcategories-div {
        display: block;
        width: 30%;
        max-width: 19rem;
        margin-top: 2rem;
        position: relative;
    }

    .subcategories-list {
        padding: 0;
        border: 1px solid rgb(210, 210, 210);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        max-height: 23rem;
        overflow: auto;
        margin-top: 0;
        position: sticky;
        top: 7rem;
    }

    .tools-subcategories-li:last-child div {
        border-bottom: none;
    }

    .subcategory-list-head {
        padding: 0;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        font-family: nooraSemiBold;
        color: white;
        background-color: var(--secondary-color);
        position: sticky;
        width: 100%;
        top: 1rem;
    }

    .subcategory-label {
        display: none;
    }
}