.product-category {
    padding: 0 16px;
    margin-top: 64px;
}

.category-head {
    line-height: 0;
    margin-top: 56px;
}

.categories {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: var(--secondary-color);
    border-radius: 12px;
    margin-top: 36px;
    padding: 0 16px 24px 16px;
    height: 56rem;
}

.container::-webkit-scrollbar {
    display: none;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}

.extra-div {
    display: none;
}

@media screen and (min-width: 640px) {
    .categories {
        position: relative;
        overflow-y: hidden;
        overflow-x: auto;
        -ms-overflow-style: auto;
        padding: 24px 0 24px 24px;
        height: auto;
        scrollbar-width: thick;
        scrollbar-color: white var(--secondary-color);
    }

    .categories::-webkit-scrollbar {
        display: block;
    }

    .categories::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .categories::-webkit-scrollbar-track {
        background: white;
    }

    .categories::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 4px;
    }

    .categories::-webkit-scrollbar-thumb:hover {
        background: white;
    }

    .carousel {
        flex-direction: row;
    }

    .extra-div {
        display: block;
        padding: 0 9px;
        background-color: var(--secondary-color);
        color: var(--secondary-color);
        cursor: default;
    }
}