.product-category {
    padding: 0 16px;
    margin-top: 64px;
}

.category-head {
    line-height: 0;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    width: 48%;
    margin-top: 16px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.category-div {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    aspect-ratio: 4 / 3;
}

.category-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.category-image.car {
    object-position: bottom center;
}

.category-description {
    font-size: 1.5rem;
    color: white;
    background-color: var(--secondary-color);
    margin-top: 0;
    padding: 8px 0;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 0;
}

@media screen and (min-width: 480px) {
    .category-description {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 640px) {
    .category-div {
        aspect-ratio: 3 / 2;
    }
}

@media screen and (min-width: 780px) {
    .category {
        width: 24%;
    }

    .category-div {
        aspect-ratio: 4 / 3;
    }
}

@media screen and (min-Width: 910px) {
    .category-div {
        aspect-ratio: 3 / 2;
    }
}