.login-form {
    margin-top: 40px;
}

.phone-input {
    width: 100%;
    padding: 10px 8px;
    display: block;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.password-input {
    width: 100%;
    padding: 10px 8px;
    display: block;
    letter-spacing: 1px;
    font-size: 1.3rem;
    margin-top: 12px;
}

.phone-input:focus {
    border-bottom: 2px solid var(--link-color)!important;
    caret-color: var(--link-color);
}

.password-input:focus {
    border-bottom: 2px solid var(--link-color)!important;
    caret-color: var(--link-color);
}

.phone-input::placeholder {
    letter-spacing: 0;
}

.password-input::placeholder {
    letter-spacing: 0;
}

.submit-btn {
    width: 100%;
    margin-top: 28px;
}

.btn-front {
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.signup-link {
    color: var(--link-color); 
    text-decoration: none;
}

.input-icon-div {
    position: relative;
}

.set-password-input-icon {
    position: absolute;
    left: 8px;
    top: 1rem;
    z-index: 1;
    width: 2.2rem;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .set-password-input-icon {
        width: 2rem;
    }

    .phone-input {
        font-size: 1.2rem;
    }
    
    .phone-input::placeholder {
        font-size: 1.2rem;
    }
}