.footer-container {
    background-color: white;
    padding: 0 16px 24px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid 1px rgba(0, 0, 0, 0.2)
}

.footer-child {
    width: 100%;
    margin-top: 16px;
}

.child-title {
    color: var(--header-color);
}

.title_underline {
    width: 56px;
    color: var(--header-color);
    margin: 0 0 0 auto;
}

.footer-about-us {
    color: var(--text-color);
    max-width: 60rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    position: relative;
}

.footer-about-us.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.see-more-div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-see-more {
    color: var(--link-color);
    font-size: 1.5rem;
}

.see-more-chevron {
    color: var(--link-color);
    margin-right: 6px;
}

.see-more-chevron.expanded {
    transform: rotate(90deg);
}

.useful-links-div {
    margin-top: 1.6rem;
}

.useful-links {
    display: inline;
    font-size: 1.5rem;
    color: var(--link-color);
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 8px;
}

.useful-links:hover {
    border: solid 1px var(--link-color);
    background-color: rgba(0, 131, 192, 0.05);
}

.instagram-icon {
    font-size: 4.4rem;
    color: var(--text-color);
}

.whatsapp-icon {
    font-size: 4.4rem;
    color: var(--text-color);
    margin-right: 12px;
}

@media screen and (min-width: 480px) {
    .footer-see-more {
        font-size: 1.4rem;
    }

    .useful-links {
        font-size: 1.4rem;
    }

    .instagram-icon {
        font-size: 4rem;
    }

    .whatsapp-icon {
        font-size: 4rem;
    }
}

@media screen and (min-width: 640px) {
    .footer-child {
        width: 46%;
    }
}

@media screen and (min-width: 910px) {
    .footer-child {
        width: 23%;
    }
}