.car-specifications-section {
    padding: 0 16px;
    margin-top: 36px;
}

.car-specifications-title {
    font-size: 1.8rem;
    color: var(--header-color);
    line-height: 0;
}

.car-specifications-description {
    color: var(--text-color);
    font-size: 1.3rem;
}

.car-specifications-form {
    background-color: hsl(202, 64%, 24%, 0.04);
    border-radius: 8px;
    border: 1px solid rgb(212, 214, 214);
    padding: 0 16px 12px 16px;
    z-index: 0;
}

.car-brand-label, .car-type-label, .color-code-label, .color-amount-label{
    font-size: 1.3rem;
    color: rgb(32, 37, 41);
    margin-top: 24px;
    display: inline-block;
}

.car-brand-input, .color-code-input, .car-type-input, .color-amount-input {
    display: block;
    width: 100%;
    margin-top: 6px;
    padding: 10px 8px;
    font-size: 1.4rem;
    text-decoration: none;
    box-shadow: 0 -1px 4px rgb(204, 204, 204);
}

.color-amount-input {
    text-align: center;
    font-size: 1.6rem;
    direction: ltr;
}

.car-brand-input:focus, .car-type-input:focus, .color-code-input:focus, .color-amount-input:focus {
    border-bottom: 2px solid var(--link-color)!important;
    caret-color: var(--link-color);
}

.color-amount-div {
    position: relative;
}

.color-amount-btn {
    position: absolute;
    background-color: var(--secondary-color);    
    height: calc(100% - 1px);
    aspect-ratio: 1/1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.increase-btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.decrease-btn {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    left: 0;
}

.plus-img, .minus-img {
    width: 48%;
    height: 48%;
    user-select: none;
}

.amount-warning-div {
    background-color: #fff;
}

.amount-warning-text {
    color: var(--error-color);
    font-size: 1.3rem;
    background-color: var(--error-color-disabled);
    border: 1px solid var(--error-color);
    padding: 8px;
    border-radius: 4px;
}

.car-brands {
    width: 200px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 4px;
    position: absolute;
    max-height: 210px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border: 1px solid rgb(212, 214, 214);
    overflow-y: auto;
    transition: all 250ms;
    z-index: 2;
}

.car-types {
    width: 200px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 4px;
    position: absolute;
    max-height: 210px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border: 1px solid rgb(212, 214, 214);
    overflow-y: auto;
    transition: all 250ms;
    z-index: 2;
}

.car-brand {
    font-size: 1.3rem;
    color: var(--text-color);
    border-bottom: 1px solid rgb(212, 214, 214);
    padding: 12px 8px;
    cursor: pointer;
}

.car-brand-active {
    font-size: 1.3rem;
    color: var(--text-color);
    border-bottom: 1px solid rgb(212, 214, 214);
    padding: 12px 8px;
    cursor: pointer;
    background-color: hsl(202, 64%, 24%, 0.1);
}



.car-brand:hover {
    background-color: hsl(202, 64%, 24%, 0.1);
}