.car-specifications-section {
    padding: 0 16px;
    margin-top: 36px;
}

.car-specifications-title {
    font-size: 1.8rem;
    color: var(--header-color);
    line-height: 0;
}

.car-specifications-description {
    color: var(--text-color);
    font-size: 1.3rem;
}

.car-specifications-form {
    margin-top: 20px;
    background-color: hsl(202, 64%, 24%, 0.04);
    border-radius: 8px;
    border: 1px solid rgb(212, 214, 214);
    padding: 12px 16px;
}

.car-brand-label {
    font-size: 1.3rem;
    color: rgb(32, 37, 41);
}

.car-type-label, .color-code-label, .color-amount-label{
    font-size: 1.3rem;
    color: rgb(32, 37, 41);
    margin-top: 16px;
    display: inline-block;
}

.car-brand-input, .color-code-input, .car-type-input, .color-amount-input {
    display: block;
    width: 100%;
    margin-top: 6px;
    padding: 10px 8px;
    font-size: 1.4rem;
    text-decoration: none;
    box-shadow: 0 -1px 4px rgb(204, 204, 204);
}

.car-brand-input:focus, .car-type-input:focus, .color-code-input:focus, .color-amount-input:focus {
    border-bottom: 2px solid var(--link-color)!important;
    caret-color: var(--link-color);
}

.car-brands {
    width: 200px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 4px;
    position: absolute;
    max-height: 210px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border: 1px solid rgb(212, 214, 214);
    overflow-y: auto;
    transition: all 250ms;
}

.car-types {
    width: 200px;
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin: 4px 0 0 0;
    border-radius: 4px;
    position: absolute;
    max-height: 210px;
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border: 1px solid rgb(212, 214, 214);
    overflow-y: auto;
    transition: all 250ms;
}

.car-brand {
    font-size: 1.3rem;
    color: var(--text-color);
    border-bottom: 1px solid rgb(212, 214, 214);
    padding: 12px 8px;
    cursor: pointer;
}

.car-brand-active {
    font-size: 1.3rem;
    color: var(--text-color);
    border-bottom: 1px solid rgb(212, 214, 214);
    padding: 12px 8px;
    cursor: pointer;
    background-color: hsl(202, 64%, 24%, 0.1);
}



.car-brand:hover {
    background-color: hsl(202, 64%, 24%, 0.1);
}