.shopping-cart-link {
    background-color: var(--primary-color);
    box-shadow: 0 0 4px 1px rgb(41, 41, 41);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    position: relative;
}

.shopping-cart {
    color: white;
    transform: scaleX(-1);
    font-size: 3.8rem;
}

.product-count-span {
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    position: absolute;
    top: -0.7rem;
    left: -0.7rem;
    color: var(--primary-color);
    box-shadow: 0 0 4px white;
}

@media screen and (min-width: 480px) {
    .shopping-cart {
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 640px) {
    .shopping-cart {
        font-size: 3.3rem;
    }
}